form {
  margin-top: 6rem;
}
.container {
  background-color: rgba(0, 0, 0, 0.335);
  border-radius: 3px;
}

form input[name="city"],
form input[name="country"] {
  background-color: transparent;
  color: white;
  border: 0;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
}

form input:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  color: white !important;
}

.container ::-webkit-input-placeholder {
  color: rgb(195, 193, 193) !important;
}
